.slideshow {
  box-sizing: border-box;
  margin: 0 auto;
  width: calc(100%);
  .slideshow-container, .dot-container {
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev {
    left: -4rem;
  }
  .next {
    right: -3rem;
  }
  .prev:hover, .next:hover {
    animation: highlight 8s infinite;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1em;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
  }
  .active {
    background-color: var(--text-color);
  }
}

@media (min-width: 426px) {
  .slideshow {
    width: calc(100% - 2.5rem);
  }
}

@media (min-width: 769px) {
  .slideshow {
    width: calc(100% - 10rem);
  }
}

@media (min-width: 1025px) {
  .slideshow {
    width: calc(100% - 15rem);
  }
}

/* Slideshow container */

/* Hide the images by default */

/* Next & previous buttons */

/* On hover, add a black background color with a little bit see-through */

/* Caption text */

/* Number text (1/3 etc) */

/* The dots/bullets/indicators */

.dot:hover {
  background-color: var(--text-color);
}

/* Fading animation */

.slideshow .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .2;
  }

  to {
    opacity: 1;
  }
}


@keyframes fade {
  from {
    opacity: .2;
  }

  to {
    opacity: 1;
  }
}