.about {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-clip: var(--bg-color);
}
.about h1 {
  padding: 1rem 0;
  font-size: 3rem;
}
.highlight {
  background-color: var(--highlight-color);
}
::selection {
  background-color: var(--highlight-color);
}
.about .content {
  flex: auto;
}
.about .content-grid h1 {
  color: var(--text-color);
}
.about .content-grid {
  margin: 0 auto;
  width: calc(100%);
}
@media (min-width: 426px) {
  .about .content-grid {
    width: calc(100% - 2.5rem);
  }
}
@media (min-width: 769px) {
  .about .content-grid {
    width: calc(100% - 5rem);
  }
}
@media (min-width: 1025px) {
  .about .content-grid {
    width: 100%;
  }
}
.about .wrapper .content {
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: var(--text-color);
}
.about .wrapper .content p {
  font-weight: 235;
  padding: 0.25rem 0;
}
.about .content.skills div {
  margin: .5em auto;
}
.about .content.skills h3 {
  border-bottom: 1.25px solid var(--text-color);
  display: inline-block;
  font-weight: 500;
}
.about .text-emoji {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--text-color);
}

.about .photo-wrapper {
  margin: auto auto;
  padding-left: 5em;
}

.about .photo-wrapper .photo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}