.landing {
  min-height: 100vh;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
}

.landing,
.landing main {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.landing main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
  color: var(--text-color);
}

.landing main .wrapper {
  -ms-flex: auto;
  flex: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.wrapper > .intro {
  font-family: Reem Kufi, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.wrapper > .tagline {
  font-size: 1.375rem;
  margin: 1.5rem 0;
  font-weight: 300;
}

.social {
  padding: 0.25rem 0;
  font-size: 3rem;
}
@media (max-width: 425px) {
  .social {
    font-size: 2.5rem;
  }
}
.social a {
  padding: 0 0.625rem;
}
.social a.devto svg {
  margin-bottom: -0.25rem;
  width: 2.7rem;
  height: 2.7rem;
}
@media (max-width: 425px) {
  .social a.devto svg {
    margin-bottom: -0.225rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}
.social.animate-icons a {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}
.social.animate-icons a:hover,
.social.animate-icons a:focus,
.social.animate-icons a:active {
  -webkit-animation-name: icon-wobble;
  animation-name: icon-wobble;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes icon-wobble {
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes icon-wobble {
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


