:root {
  --text-color: #ff4136;
  --bg-color: #fff;
  --alt-bg: #ff4136;
  --alt-text: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: 'Raleway', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.triple-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}